<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Nome e Cursos</title>
    <link rel="stylesheet" href="/css/estilo.css" />
</head>
<body>
    <table>
        <tr>
            <td colspan="2">Lista de Nomes e Cursos </td>
        </tr>
        <tr>
            <th>Nome</th>
            <th>Curso</th>
        </tr>
        <tr th:each="aluno : ${alunos}">
            <td th:text="${aluno.nomePessoa}"></td>
            <td th:text="${aluno.nomeCurso}"></td>
        </tr>
    </table>
    <a href="/escola">Voltar</a>
</body>
</html>