<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Escolar</title>
</head>
<body>
    <h1 style="text-align: center;">Sistema Escola</h1>
    <h2 style="text-align: center;">Sistema Acadêmico</h2>
    <div style="text-align: center;">
        <form action="/login" method="get" style="display: inline;">
            <button type="submit">Login</button>
        </form>
        <form action="/usuarios/criar" method="get" style="display: inline;">
            <button type="submit">Cadastre-se</button>
        </form>
    </div>
</body>
</html>